body {
    margin: 0;
    padding: 0;
}

span {
    font-style: italic;
}

.bold-text {
    font-weight: bold;
}

.list-conteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0,5px;
    padding-right: 20px;
}

.list-conteiner>p {
    text-align: center;
    font-weight: bold;
}

.img-conteiner {
    float: right;
    border-style: solid;
    border-width: 0,5px;
    padding: 5px;
    margin-left: 10px;
}

.img-conteiner>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-html {
    max-width: 70px;
}

.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.nav-conteiner>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-conteiner>nav>ul>li>a {
    display: block;
    padding: 10px;
}

@media (max-width: 700px) {
    .nav-conteiner {
        flex-direction: column;
    }
}

.text-page {
    padding-left: 10px;
}

.page {
    display: flex;
}

.header {
    width: 15%;
}

.section {
    width: 83%;
}

.header>ol {
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding-bottom: 10px;
}

.header>div {
    width: 100%;
}

.header>div>img {
    width: 100%;
}